.container {
  background: url('https://t4.ftcdn.net/jpg/05/19/75/15/360_F_519751549_tOSxZkzUvQ5D7Swdl9g2xDW6p6nUk7fh.jpg');
  background-size: contain;
}

.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }

  .desc {
    width: 90%;
    text-align: center;
  }

  .wrapper {
    width: 80%;
  }
}
