.container {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: cen ter;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #3f3f3f;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.desc {
  /* text-align: center; */
  margin-top: 20px;
  color: #777;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}
